
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" ngSkipHydration>
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" >
            <a class="nav-link" routerLink="control-flow">Control Flow</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="dataBinding">dataBinding</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Directives</a>
            <ul class="dropdown-menu">
              <li class="nav-item" ><a class="dropdown-item" href="#" routerLink="ngClass">ngClass</a></li>
              <li class="nav-item" ><a class="dropdown-item" href="#" routerLink="ng-if">ng-if</a></li>
              <li class="nav-item" ><a class="dropdown-item" href="#" routerLink="ng-for">ng-for</a></li>
              <li class="nav-item" ><a class="dropdown-item" href="#" routerLink="ng-style">ng-style</a></li>
            </ul>
          </li>      
          <li class="nav-item" >
            <a class="nav-link" routerLink="signal">signal</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="admin">admin</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="user">user</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Forms</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="dropdown-item" href="#" routerLink="template-form">template-form</a></li>
              <li class="nav-item"><a class="dropdown-item" href="#" routerLink="reactive-form">reactive-form</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">APIs</a>
            <ul class="dropdown-menu">
              <li class="nav-item" ><a class="dropdown-item" href="#" routerLink="get-api">GET API</a></li>
              <li class="nav-item" ><a class="dropdown-item" href="#" routerLink="post-api">POST API</a></li>
              <li class="nav-item" ><a class="dropdown-item" href="#" routerLink="put-api">PUT-API</a></li>
              <li class="nav-item" ><a class="dropdown-item" href="#" routerLink="delete-api">DELETE-API</a></li>
            </ul>
          </li> 
          <li class="nav-item" >
            <a class="nav-link" routerLink="life-cycle">life-cycle</a>
          </li>    
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>


