<p>control-flow works!</p>
<div class="row p-3">
    <div class="col-3">
        @if(isDiv1Visible){
            <div class="bg-success p-3">
                Div 1
            </div>
        }
    </div>
    <div class="col-3">
        @if(isChecked){
            <div class="bg-primary p-3">
                Checkbox is checked
            </div>
        }@else{
            <div class="bg-danger p-3">
                Checkbox is unchecked
            </div>
        }
    </div>
</div>

<div class="row p-3">
    <div class="col-3">
        <button class="btn btn-success" (click)="hideShowDiv1(true)">Show</button>
        <button class="btn btn-danger" (click)="hideShowDiv1(false)">Hide</button>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isChecked" />
    </div>
    <div class="col-3">
        @for(city of cityList;track $index){
            <p>{{city}}</p> 
        }
    </div>
</div>